
services:
  postgres:
    image: postgres
    container_name: postgres-db
    environment:
      POSTGRES_PASSWORD: localpass
      POSTGRES_USER: pguser
      POSTGRES_DB: urban-events
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    restart: unless-stopped
  flyway:
    image: flyway/flyway:9
    container_name: flyway-migrations
    depends_on:
      - postgres
    volumes:
      - ./db/migrations:/migrations:ro
    environment:
      FLYWAY_PLACEHOLDERS_SCHEMA: public
    command: -url=jdbc:postgresql://postgres:5432/urban-events -user=pguser -password=localpass -locations=filesystem:/migrations migrate
    restart: "no"

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025" # puerto SMTP
      - "8025:8025" # puerto UI Web
    restart: unless-stopped

volumes:
  pgdata: {}
