server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/urban-events?currentSchema=priorizacion_incidencias
    username: pguser
    password: localpass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect      
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      acks: all
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        linger.ms: 10
        batch.size: 16384
        enable.idempotence: true
    properties:
      request.timeout.ms: 30000
      session.timeout.ms: 10000

kafka:
  bootstrap-servers: localhost:9092

priorizacion:
  palabras-criticas: incendio, explosion, explosivo, heridos, urgente
  delay-segundos: 4
